

body ,h1,h2,h3,h4,h5,h6{
    color:#2A3855;
}
body,p{
    color: #6a6a6a;
}
.call{
    background-color: #2A3855;
}
header{
background-image:url(../images/header-1.jpg);
width: 100%;
background-size: cover;
}
.main-heading{
font-size: 68px;


}
.main-contant{
    padding-top: 140px;
}
.main-btn{
    padding-bottom: 130px;
}
.line{
    width: 60px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2A3855;
}
.Walcome-icon {
border-radius: 100%;
background-color: #fafafa;
color:#2A3855;
border: 2px solid #e1e1e1;

}
.video-img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.Service{
    background-color:#fafafa;
}
.service-img{
    width: 100%;
}
.service-img1{

    border-top-left-radius: 10px;
}
.service-img2{
border-bottom-left-radius: 10px;


}
.choose-img{
    width: 100%;
}
.contacts{
    background-color:#2A3855 ;

}
.Request{
    border: 2px solid rgba(100, 245, 16, 0.986);
    border-radius: 10px;
}